<% content_for :page_title, "Log In" %>

<%= form_with :model => SessionForm.new, :scope => :session, :url => sessions_path, :method => :post, :html => { :id => "login" } do |form| %>
  <div class="sessions__form-group">
    <%= form.label :email, "Email", :class => "sessions__control-label" %>
    <%= form.email_field :email, :class => "sessions__form-control sessions--input-lg" %>
  </div>
  <div class="sessions__form-group">
    <%= form.label :password, "Password", :class => "sessions__control-label" %>
    <%= form.password_field :password, :class => "sessions__form-control sessions--input-lg" %>
  </div>
  <%= form.submit "Log In", :class => "sessions__btn sessions--btn-lg sessions--btn-success" %>
<% end %>
