<div class='admin__form-group'>
  <%= form.label :name, :class => "admin__control-label" %>
  <%= form.text_field :name, :class => "admin__form-control" %>
</div>
<div class='admin__form-group'>
  <%= form.label :title, :class => "admin__control-label" %>
  <%= form.text_field :title, :class => "admin__form-control" %>
</div>
<div class='admin__form-group'>
  <%= form.label :description, :class => "admin__control-label" %>
  <%= form.text_area :description, :rows => 4, :class => "admin__form-control" %>
</div>
<div class='admin__form-group'>
  <%= form.label :snippet_ids, "Snippets", :class => "admin__control-label" %>
  <%= form.collection_check_boxes :snippet_ids, Snippet.all, :id, :title, {} do |b| %>
    <div class='admin__checkbox'>
      <%= b.label { b.check_box + b.text } %>
    </div>
  <% end %></div>
<div class='admin__form-group'>
  <%= form.label :category_collection_id, :class => "admin__control-label" %>
  <%= form.collection_select :category_collection_id, CategoryCollection.all, :id, :name, { :include_blank => true }, :class => "admin__form-control" %>
</div>
