<div class='admin__row'>
  <div class='admin--col-sm-4'>
    <div class='admin__form-group'>
      <%= form.label :day, :class => "admin__control-label" %>
      <%= form.select :day, Event::DAYS, {}, :class => "admin__form-control" %>
    </div>
  </div>
  <div class='admin--col-sm-3'>
    <div class='admin__form-group'>
      <%= form.label :start_time, :class => "admin__control-label" %>
      <%= form.time_field :start_time, :class => "admin__form-control" %>
    </div>
  </div>
  <div class='admin--col-sm-3'>
    <div class='admin__form-group'>
      <%= form.label :end_time, :class => "admin__control-label" %>
      <%= form.time_field :end_time, :class => "admin__form-control" %>
    </div>
  </div>
  <div class='admin--col-sm-1'>
    <div class='admin__form-group'>
      <%= form.label :off, "Off?", :class => "admin__control-label" %>
      <%= form.check_box :off, :class => "admin__checkbox" %>
    </div>
  </div>
  <% unless form.object.new_record? %>
    <div class='admin--col-sm-1'>
      <div class='admin__form-group'>
        <%= form.label :_destroy, "Remove day?", :class => "admin__control-label" %>
        <%= form.check_box :_destroy, :class => "admin__checkbox" %>
      </div>
    </div>
  <% end %>
</div>
