<div class='member' id='<%= staff.name.downcase.gsub(' ', '-') %>'>
  <div class='row'>
    <div class='col-sm-6'>
      <div>
        <%= image_tag staff.photo.url, class: 'staff-image-list img-responsive img-rounded', alt: "#{staff.first_name} #{staff.last_name}" %>
      </div>
    </div>

    <div class='col-sm-6'>
      <h2 class='staff-column-title'> Services</h2>
      <p class='staff-title'><%= simple_format(staff.title) %></p>
      <p>
        <b><%= staff.first_name %></b> is available for:
      </p>
      <ul class='list-unstyled staff-services'>
        <% staff.services.split("\n").each do |service| %>
          <li><%= service %></li>
        <% end %>
      </ul>
      <p><%= simple_format(staff.notes) %></p>
    </div>
  </div>
  <div class="row">
    <blockquote>
      <%= simple_format(staff.bio) %>
    </blockquote>
  </div>
</div>
