<div class="staff" id="<%= staff.name.downcase.gsub(" ", "-") %>">
  <div class="staff__row">
    <div class="staff__col-sm-6">
      <div class="staff__photo">
        <%= image_tag staff.photo.url, :class => "staff__image staff--img-responsive staff--img-rounded", :alt => "#{staff.first_name} #{staff.last_name}" %>
      </div>
    </div>

    <div class="staff__col-sm-6">
      <div class="services">
        <h2 class="services__header">Services</h2>
        <%= simple_format(staff.title, :class => "staff__title") %>
        <p>
          <b><%= staff.first_name %></b> is available for:
        </p>
        <% if staff.services.present? %>
          <ul class="services-list staff--list-unstyled">
            <% staff.services.split("\n").each do |service| %>
              <li class="services-list__item"><%= service %></li>
            <% end %>
        <% end %>
        </ul>
        <div class="notes">
          <%= simple_format(staff.notes, :class => "notes__body") %>
        </div>
      </div>
    </div>
  </div>
  <div class="staff__row">
    <blockquote class="bio">
      <%= simple_format(staff.bio, :class => "bio__body") %>
    </blockquote>
  </div>
</div>
