<div class="admin__row">
  <div class="admin--col-sm-10">
    <div class="admin__form-group">
      <%= form.label :product_id, :class => "admin__control-label" %>
      <%= form.grouped_collection_select :product_id, Category.includes(:products).all, :products, :name, :id, :name, { :include_blank => true }, :class => "admin__form-control" %>
    </div>
  </div>
  <div class="admin--col-sm-1">
    <%= form.active_check_box %>
  </div>
  <div class="admin--col-sm-1">
    <div class="admin__form-group">
      <%= form.label :rating, :class => "admin__control-label" %>
      <%= form.select :rating, (1..5), {}, :class => "admin__form-control" %>
    </div>
  </div>
</div>
<div class="admin__row">
  <div class="admin--col-sm-11">
    <div class="admin__form-group">
      <%= form.label :customer_name, :class => "admin__control-label" %>
      <%= form.text_field :customer_name, :class => "admin__form-control" %>
    </div>
  </div>
  <div class="admin--col-sm-1">
    <div class="admin__form-group">
      <%= form.label :show_customer_name, :class => "admin__control-label" %>
      <%= form.check_box :show_customer_name, :class => "admin__checkbox" %>
    </div>
  </div>
</div>
<div class="admin__form-group">
  <%= form.label :date, :class => "admin__control-label" %>
  <%= form.date_field :date, :class => "admin__form-control" %>
</div>
<div class="admin__form-group">
  <%= form.label :title, :class => "admin__control-label" %>
  <%= form.text_field :title, :class => "admin__form-control" %>
</div>
<div class="admin__form-group">
  <%= form.label :body, :class => "admin__control-label" %>
  <%= form.text_area :body, :rows => 4, :class => "admin__form-control" %>
</div>
