<p>
  <strong>Product:</strong>
  <%= resource.product.name %>
</p>
<p>
  <strong>Active:</strong>
  <%= resource.active %>
</p>
<p>
  <strong>Rating:</strong>
  <%= resource.rating %>
</p>
<p>
  <strong>Title:</strong>
  <%= resource.title %>
</p>
<p>
  <strong>Customer name:</strong>
  <%= resource.customer_name %>
</p>
<p>
  <strong>Body:</strong>
  <%= resource.body %>
</p>
