<div class="staff" id="<%= resource.name.downcase.gsub(" ", "-") %>">
  <div class="admin__row">
    <div class="admin--col-sm-4">
      <h2 class="staff__name"><%= resource.first_name %> <%= resource.last_name %></h2>
      <p class="staff__credentials"><%= resource.credentials %></p>
      <div class="staff-photo">
        <%= image_tag resource.photo.url, :class => "admin--img-responsive admin--img-rounded", :alt => "#{resource.first_name} #{resource.last_name}" %>
      </div>
    </div>
    <div class="admin--col-sm-4">
      <h2 class="staff-column-title">Services</h2>
      <p class="staff__title">
        <%= simple_format(resource.title) %>
      </p>
      <p>
        <button class="admin__btn admin--btn-info" data-target="#<%= resource.first_name.downcase %><%= resource.last_name.downcase %>bio" data-toggle="modal">Bio</button>
      </p>
      <p>
        <b><%= resource.first_name %></b> is available for:
      </p>
      <% if resource.services.present? %>
        <ul class="service-list admin--list-unstyled ">
          <% resource.services.split("\n").each do |service| %>
            <li class="service-list__item"><%= service %></li>
          <% end %>
        </ul>
      <% end %>
      <p><%= simple_format(resource.notes) %></p>
    </div>
    <div class="admin--col-sm-4">
      <h2 class="staff-column-title">Schedule</h2>
      <% if resource.schedule.present? %>
        <% if resource.schedule.events.present? %>
          <table class="schedule">
            <% resource.schedule.events.sort_by { |e| Event::DAYS.index(e.day) }.each do |event| %>
              <tr>
                <td><%= event.day %></td>
                <td><%= event.span %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
        <p><%= simple_format(resource.schedule.notes) %></p>
      <% else %>
        <p>TBD</p>
      <% end %>
    </div>
  </div>
  <div aria-hidden='true' aria-labelledby="<%= resource.first_name.downcase %><%= resource.last_name.downcase %>bio" class='modal fade' id="<%= resource.first_name.downcase %><%= resource.last_name.downcase %>bio" role='dialog' tabindex='-1'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button class='admin__close' data-dismiss='modal'>&times;</button>
          <h4 class='modal-title'><%= resource.first_name %>'s bio</h4>
        </div>
        <div class='modal-body'>
          <%= simple_format(resource.bio) %>
        </div>
        <div class='modal-footer'>
          <button class='admin__btn admin--btn-default' data-dismiss='modal' type='button'>Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
