<% content_for :page_title, "A Sanctuary To Restore You" %>

<div class="text-center">
  <p><%= Snippet[:announcement] %></p>

  <div class="landing-text">
    <p>
      <%= Snippet[:landing] %>
    </p>
  </div>
  <div class="site-logo">
    <%= image_tag(asset_pack_path("media/images/logos/desktop-new.png"), :class => "site-logo__image") %>
  </div>
  <hr />
  <div class="lead gifts">
    <p class="gifts">
      Gift certificates are available for all services and products.<br />
      <%= link_to "Purchase a Gift Certificate here!", "http://www.secure-booker.com/ATouchofTranquilitySpa/InstantGiftCertificate.aspx", :class => "cta-link" %>
    </p>
    <p class="lead newsletter">
      Interested in email updates?<br />
      <%= link_to "Sign up here!", newsletter_signup_path, :class => "cta-link" %>
    </p>
  </div>
  <hr />
  <div class="callouts">
    <div class="row">
      <div class="jumbotron">
        <%= render Review.random if Review.exists? %>
        <p class="lead reviews">
          Want to see what else our customers are saying about us?<br />
          <%= link_to "Click here!", reviews_path, :class => "cta-link" %>
        </p>
      </div>
    </div>
    <div class="row">
      <h1 class="text-center">
        Spa Hours
      </h1>
      <div class="center">
        <%= render "layouts/hours" %>
      </div>
    </div>
  </div>
</div>
