<% content_for :page_title, "A Sanctuary To Restore You" %>

<div class="text-center">
  <p><%= Snippet[:announcement] %></p>

  <div class="landing-text">
    <p>
      <%= Snippet[:landing] %>
    </p>
  </div>
  <hr />
  <div class="lead gifts">
    <p class="gifts">
      Gift certificates are available for all services and products.
      <%= link_to "Purchase a Gift Certificate here!",
          "http://www.secure-booker.com/ATouchofTranquilitySpa/InstantGiftCertificate.aspx" %>
    </p>
    <p class="lead newsletter">
      Interested in email updates?
      <%= link_to "Sign up here!", newsletter_signup_path, :html => { :class => "underline" } %>
    </p>
  </div>
  <hr />
  <div class="callouts">
    <div class="row">
      <div class="jumbotron">
        <%= render Review.random if Review.exists? %>
        <p class="lead reviews">
          Want to see what else our customers are saying about us?
          <%= link_to "Click here!", reviews_path %>
        </p>
      </div>
    </div>
    <div class="row">
      <h1 class="text-center">
        Spa Hours
      </h1>
      <div class="center">
        <%= render "layouts/hours" %>
      </div>
    </div>
  </div>
</div>
