<div class="admin__btn-toolbar">
  <% case action_name %>
  <% when "edit", "update" %>
    <%= form.submit :class => "admin__btn admin--btn-success admin--btn-lg" %>
    <%= link_to "View", [:admin, resource], :class => "admin__btn admin--btn-default admin--btn-lg" %>
    <%= link_to "Cancel", polymorphic_path([:admin, resource.class]), :class => "admin__btn admin--btn-default admin--btn-lg" %>
  <% when "new" %>
    <%= form.submit :class => "admin__btn admin--btn-success admin--btn-lg" %>
    <%= link_to "All #{resource.class.to_s.titleize.pluralize}", polymorphic_path([:admin, resource_class]), :class => "admin__btn admin--btn-info admin--btn-lg" %>
  <% when "index" %>
    <%= link_to "New #{resource_class.to_s.titleize}", new_polymorphic_path([:admin, resource_class]), :class => "admin__btn admin--btn-success admin--btn-lg" %>
    <% if resource_class.instance_methods.include?(:active) %>
      <%= submit_tag "Update #{resource_class.to_s.titleize.pluralize}", :class => "admin__btn admin--btn-warning admin--btn-lg" %>
    <% end %>
  <% when "show" %>
    <%= link_to "Edit", edit_polymorphic_path([:admin, resource]), :class => "admin__btn admin--btn-default admin--btn-lg" %>
    <%= link_to "Back", polymorphic_path([:admin, resource.class]), :class => "admin__btn admin--btn-default admin--btn-lg" %>
    <%= link_to "All #{resource_class.to_s.titleize.pluralize}", polymorphic_path([:admin, resource_class]), :class => "admin__btn admin--btn-info admin--btn-lg" %>
  <% end %>
</div>
