<div class="admin__row">
  <div class="admin--col-sm-10">
    <div class="admin__form-group">
      <%= form.label :name, :class => "admin__control-label" %>
      <%= form.text_field :name, :class => "admin__form-control" %>
    </div>
  </div>
  <div class="admin--col-sm-1">
    <div class="admin__form-group">
      <% form.label :inline, :class => "admin__checkbox" do %><%= form.check_box :inline %>
        Show products inline?
      <% end %>
    </div>
  </div>
  <div class="admin--col-sm-1">
    <%= form.active_check_box %>
  </div>
</div>
<div class="admin__form-group">
  <%= form.label :seo, "SEO Tags", :class => "admin__control-label" %>
  <%= form.text_field :seo, :class => "admin__form-control" %>
</div>
<div class="admin__form-group">
  <%= form.label :description, :class => "admin__control-label" %>
  <%= form.text_field :description, :class => "admin__form-control" %>
</div>
<% if form.object.photo.present? %>
  <%= image_tag form.object.photo.thumb.url %>
  <div class="admin__checkbox">
    <% form.label :remove_photo do %>
      <%= form.check_box :remove_photo %>
      Remove photo?
    <% end %>
  </div>
<% end %>
<div class="admin__row">
  <div class="admin--col-sm-6">
    <div class="admin__form-group">
      <%= form.label :photo, "Upload photo", :class => "admin__control-label" %>
      <%= form.file_field :photo, :class => "admin__form-control" %>
    </div>
  </div>
  <div class="admin--col-sm-6">
    <div class="admin__form-group">
      <%= form.label :remote_photo_url, "Load from URL", :class => "admin__control-label" %>
      <%= form.text_field :remote_photo_url, :class => "admin__form-control" %>
    </div>
  </div>
</div>
<div class="admin__form-group">
  <%= form.label :product_ids, "Products in category", :class => "admin__control-label" %>
  <% form.collection_check_boxes :product_ids, Product.order(:category_id), :id, :name, {} do |b| %>
    <div class="admin__checkbox">
      <%= b.label { b.check_box + b.text } %>
    </div>
  <% end %>
</div>
