<div class="admin__form-group">
  <%= form.label :category_id, :class => "admin__control-label" %>
  <%= form.collection_select :category_id, Category.all, :id, :name, {}, :class => "admin__form-control" %>
</div>
<div class="admin__row">
  <div class="admin--col-sm-11">
    <div class="admin__form-group">
      <%= form.label :name, :class => "admin__control-label" %>
      <%= form.text_field :name, :class => "admin__form-control" %>
    </div>
  </div>
  <div class="admin--col-sm-1">
    <%= form.active_check_box %>
  </div>
</div>
<div class="admin__form-group">
  <%= form.label :seo, "SEO Tags", :class => "admin__control-label" %>
  <%= form.text_field :seo, :class => "admin__form-control" %>
</div>
<div class="admin__form-group">
  <%= form.label :description, :class => "admin__control-label" %>
  <%= form.text_field :description, :class => "admin__form-control" %>
</div>
<% if form.object.photo.present? %>
  <%= image_tag form.object.photo.url %>
  <div class="admin__checkbox">
    <%= form.label :remove_photo do %>
      <%= form.check_box :remove_photo %>
      Remove photo?
    <% end %>
  </div>
<% end %>
<div class="admin__row">
  <div class="admin--col-sm-6">
    <div class="admin__form-group">
      <%= form.label :photo, "Upload photo", :class => "admin__control-label" %>
      <%= form.file_field :photo, :class => "admin__form-control" %>
    </div>
  </div>
  <div class="admin--col-sm-6">
    <div class="admin__form-group">
      <%= form.label :remote_photo_url, "Load from URL", :class => "admin__control-label" %>
      <%= form.text_field :remote_photo_url, :class => "admin__form-control" %>
    </div>
  </div>
</div>
<div class="admin__well">
  <% form.object.product_attributes.build if form.object.product_attributes.blank? %>
  <%= form.fields_for :product_attributes do |f| %>
    <%= render "product_attribute_fields", :form => f %>
  <% end %>
  <%= form.add_additional :product_attributes, "Add Price & Time" %>
</div>
