<div class="form-group">
  <%= form.label :name, class: "control-label" %>
  <%= form.text_field :name, class: "form-control" %>
</div>
<%= form.fields_for :events do |event| %>
  <%= render "event_fields", form: event %>
<% end %>
<%= form.add_additional :events, "Add Day" %>
<div class="form-group">
  <%= form.label :notes, "Schedule notes", class: "control-label" %>
  <%= form.text_area :notes, rows: 4, class: "form-control" %>
</div>
