<div class="admin__row">
  <div class="admin--col-sm-11">
    <div class="admin__form-group">
      <%= form.label :title, :class => "admin__control-label" %>
      <%= form.text_field :title, :class => "admin__form-control" %>
    </div>
  </div>
  <div class="admin--col-sm-1">
    <%= form.active_check_box %>
  </div>
</div>
<div class="admin__form-group">
  <%= form.label :body, :class => "admin__control-label" %>
  <%= form.text_area :body, :rows => 6, :class => "admin__form-control" %>
</div>
<div class="admin__form-group">
  <%= form.label :category_id %>
  <%= form.collection_select :category_id, Category.all, :id, :name, { :include_blank => true }, :class => "admin__form-control" do |b| %>
    <div class="admin__checkbox">
      <%= b.label { b.text + b.check_box } %>
    </div>
  <% end %>
</div>
