<% content_for :page_title, "#{resource_class.to_s.titleize} Manager" %>
<table class="admin__table">
  <thead>
  <tr>
    <%= render "index_row_headers" %>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% collection.each do |row| %>
    <tr>
      <%= render "index_row_columns", :row => row %>
      <td>
        <div class="admin__btn-group admin--btn-group-xs admin--pull-right">
          <button class="admin__btn admin--btn-default admin__dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
            <span class="admin__caret"></span>
          </button>
          <ul class="admin__dropdown-menu">
            <%= render "index_row_actions", :row => row %>
            <%= render "index_row_extra_actions", :row => row %>
          </ul>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= render "buttons" %>
